.container {
    display: flex;
    flex-direction: column;
    gap : 20px;
}
.container > div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}
.container > div > label {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 10px;
    color: #FFF8FF;
    font-size: 18px;
    margin-left: -30px;
}
.container > div > label > p {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #705067;
}
.date-label {
    font-size: 1.2em;
    color: #ffffff;
  }
  
  .date-inputs {
    display: flex;
    gap: 20px; 
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-container label {
    font-size: 16px;
    color: #FCEEF8;
    margin-bottom: 5px;
  }
  
  .date-input {
    width: 80px;
    padding: 8px 14px;
    border-radius: 20px;
    background-color: #917D8D;
    border: none;
    color: #FCEEF8 !important;
    font-size: 14px;
  }
  .date-input::placeholder {
    color: #FCEEF8;
    opacity: 1;
}
  
  .date-input:focus {
    outline: none;
    border: 2px solid #917D8D;
  }

  .ok-button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #4D3B4B;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
  }
  
  .ok-button:hover {
    background-color: #9a7fb9;
  }
  
  .press-enter-text {
    margin-top: 10px;
    color: #ffffff;
    font-size: 1rem;
  }
  .button-container {
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
  }
  .error-message {
    width: 100px;
    padding-top: 10px;
  }
  .text-lenght {
    display: flex;
    justify-content: end;
    
  }