:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --text-color: #333;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.survey-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.navigation-buttons button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-buttons button:hover {
  background-color: #0056b3;
}
