:root {
  --primary-color: #725066;
  --secondary-color: #000;
  --text-color: #333;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.survey-container {
  height: 100vh;
  background-color: var(--primary-color, #725066);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

