.info-tooltip {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.info-button {
    font-size: 10px;
}

