.info-tooltip {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.info-button {
    font-size: 12px;
}