.info-tooltip {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.info-button {
    font-size: 10px;
}
/* style.css */
.info-tooltip-container {
    position: relative;
    cursor: pointer;
  }
  

  
  .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the button */
    left: 50%;
    margin-left: -75px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .info-tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  

